@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">

    <p>
        User Id: @ViewData["UserID"] 
    </p>

    <div class="text-center">
        <br /><br /><br />
        <p class="display-6" style="color:white">

            <img src="~/css/img/587f0f19dfb9001d774ded8870347d81dr_andrew_burton_jis.jpg" height="380" width="700" /> <br /><br />

            Come and Get Your Check Ups, Diagnososis,<br />
            Prescriptions, etc.  <br /> <br /><br />

            <img src="~/css/img/Diabetes.jpg" height="380" width="600" /> <br /><br />

            We provide comfort care for those with life-limiting illnesses.<br />
            We are fully committed to ensuring that you receive the best quality care by offering services<br />
            that are tailored to meet the needs of patients and their families.<br /> <br /><br />

            <img src="~/css/img/Happy Patient.jpg" height="380" width="500" /> <br /><br />

            Our goal is to enhance each person’s quality of life medically, spiritually and emotionally,<br />
            while they are under our care.  <br /> <br /> <br />

        </p>
    </div> 

</div> 
