@{
    ViewData["Title"] = "Contact Us";
}
<h1>@ViewData["Title"]</h1>

<p style="color:white;">

    <br /><br />
    WhatsApp: 876-296-1498 <br /><br />
    Ingstagram: stefowizz___unruly <br /><br />
    X(Twitter): _Stefowizz_
    Email: stefowizz@gmail.com <br /><br />

</p> 
