@model AuthSystem2.Models.Prescription

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Edit</h1>

<h4>Prescription</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="PatientName" class="control-label"></label>
                <input asp-for="PatientName" class="form-control" />
                <span asp-validation-for="PatientName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PatientAddress" class="control-label"></label>
                <input asp-for="PatientAddress" class="form-control" />
                <span asp-validation-for="PatientAddress" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Medication" class="control-label"></label>
                <input asp-for="Medication" class="form-control" />
                <span asp-validation-for="Medication" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Dosage" class="control-label"></label>
                <input asp-for="Dosage" class="form-control" />
                <span asp-validation-for="Dosage" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PrescriptionDate" class="control-label"></label>
                <input asp-for="PrescriptionDate" class="form-control" />
                <span asp-validation-for="PrescriptionDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DocNotes" class="control-label"></label>
                <input asp-for="DocNotes" class="form-control" />
                <span asp-validation-for="DocNotes" class="text-danger"></span>
            </div>

            <div class="row mt-2">

                <div class="col-md-6">
                    <div class="form-group">
                        <input type="submit" value="Save" class="btn btn-primary" />
                    </div> 
                </div>
                <div class="col-md-6">
                    <div>
                        <a asp-action="Index" class="btn btn-secondary">Back to List</a>
                    </div> 
                </div>

            </div>

        </form>
    </div>
</div>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
